@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    @apply whitespace-normal inline-flex items-center px-4 py-2 rounded-lg shadow-md text-black bg-white;
}
.button-blue {
    @apply text-blue-500 hover:text-white hover:bg-blue-500;
}
.login {
    display:flex;
    align-items:center;
    justify-content:center;
}

.dropdown {
    position: relative;
    display: inline-flex;
  }
  
  .dropdown-content {
    display: none;
    color:white;
    right: 0;
    position: absolute;
    background-color: #08002e;
    transform: translate(-5px, 22px);
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: #ddd; color:black;}
  
  .dropdown:hover .dropdown-content {display: block;}