<br>
<div class="w-full" style="background-color: rgb(31 41 55);padding:0.25em; color:#83888f;position: fixed;bottom: 0px;">
    <small>Vukkybox, a LIT Devs service <span style="float: right"><a href="#" style="text-decoration:underline" onclick='alert("\"Vukkybox\", \"Vukky\", \"Pukky\", and all other properties are the intellectual property of LIT Devs. All rights reserved.")'>Copyright</a> - <a href="/terms" style="text-decoration:underline">Terms of Service</a> - <a href="/privacy" style="text-decoration:underline">Privacy Policy</a> - <a href="/credits" style="text-decoration:underline">Credits</a></span></small>
</div>