<div class="w-full" style="background-color: rgb(31 41 55);padding:1em;">
    Vukkybox is a LIT Devs service. You may be interested in our <a href="/terms" class="text-blue-500">Terms of Service</a>, <a href="/privacy" class="text-blue-500">Privacy Policy</a>, or <a href="/credits" class="text-blue-500">credits</a>.<br>
    <small>"Vukky", "Pukky", "Vukkybox", and all other related things are the intellectual property of LIT Devs.</small>
</div>