<br>
<script src="https://kit.fontawesome.com/e28851c58c.js" crossorigin="anonymous"></script>
<div class="w-full" style="background-color: rgb(31 41 55);padding:0.25em; color:#83888f;position: fixed;bottom: 0px;">
    <small>Vukkybox, a LIT Devs service <span style="float: right"><a href="#" style="text-decoration:underline" onclick='alert("\"Vukkybox\", \"Vukky\", \"Pukky\", and all other properties are the intellectual property of LIT Devs. All rights reserved.")'>Copyright</a> - <a href="/terms" style="text-decoration:underline">Terms of Service</a> - <a href="/privacy" style="text-decoration:underline">Privacy Policy</a> - <a href="/credits" style="text-decoration:underline">Credits</a> 
        <a href="https://discord.gg/litdevs"><i class="fab fa-discord"></i></a> <a href="https://reddit.com/r/vukkybox"><i class="fab fa-reddit"></i></a> <a href="https://twitter.com/litdevs"><i class="fab fa-twitter"></i></a> </span></small>
</div>