<center id="loginPopup" class="py-8 loginPopup">
    <div class="bg-opacity-30 bg-gray-100 rounded-lg py-10 max-w-screen-sm px-10 align-middle text-center justify-center">
        <p>Woo, thank you for your interest! In order to do that, you must sign in.</p>
        <br><br><a id="login1" href="#"><button disabled id="litauthLogin" class="button button-blue text-2xl font-bold"><img decoding="async" srcset="https://auth.litdevs.org/resources/litauth.png" width="32px">&nbsp;Sign in with LITauth</button></a>
        <br><br><input type="checkbox" id="terms" name="terms" value="terms"/>
        <label for="terms">I agree to the <a href="/terms" class="text-blue-500">Terms of Service</a> and <a href="/privacy" class="text-blue-500">Privacy Policy</a>.</label>
        </div>
      <script>
            function loginPopup() {
                document.getElementById("content").style.filter = "blur(5px)";
                document.getElementById("content").style.pointerEvents = "none";
                document.getElementById("content").style.userSelect = "none";
                document.getElementById("loginPopup").style.display = "block";
                window.scrollTo({ top: 0, behavior: 'smooth' });
            }

            let checkbox = document.getElementById("terms");
            checkbox.addEventListener('change', function() {
                if (this.checked) {
                        document.getElementById("litauthLogin").disabled = false
                        document.getElementById("login1").href = "/loginLit"
                } else {
                        document.getElementById("litauthLogin").disabled = true
                        document.getElementById("login1").href = "#"
                }
            })
      </script>
  </center>