<center id="newsPopup" class="py-8 loginPopup">
    <div class="bg-opacity-30 bg-gray-100 rounded-lg py-10 max-w-screen-sm px-10 align-middle text-center justify-center">        
        <input type="hidden" name="csrfToken" id="csrfToken" value="<%=csrfToken %>"/>
        <p class="text-2xl">Vukkybox now has 2-Factor Authentication.</p>
        <br>
        <p class="text-xl">Ok, but why should I care?</p>
        <p>Great that you asked! 2FA on Vukkybox comes with several benefits:</p>
        <ul>
            <li>Increased account security, only <span class="text-bold">you</span> can access it.</li>
            <li>2000 Vukkybux bonus for enabling it</li>
            <li>10% refund on duplicates instead of 5%</li>
            <li>No annoying reminders</li>
            <li>Fancy lock symbol on your profile page</li>
        </ul>
        <button onclick="accept()" class="button button-blue">Ok i read this but dont care</button>
        <a href="/2fa"><button onclick="accept()" class="button button-blue">Cool! Let's enable it</button></a>
    </div>
      <script>
            document.getElementById("content").style.filter = "blur(5px)";
            document.getElementById("content").style.pointerEvents = "none";
            document.getElementById("content").style.userSelect = "none";
            document.getElementById("newsPopup").style.display = "block";
            window.scrollTo({ top: 0, behavior: 'smooth' });

            function accept() {
                document.getElementById("newsPopup").style.display = "none";
                document.getElementById("content").style.filter = "none";
                document.getElementById("content").style.pointerEvents = "auto";
                document.getElementById("content").style.userSelect = "auto";
                fetch("https://vukkybox.com/acceptnews", {method: "POST", headers: {"Content-Type": "application/json"}, body: JSON.stringify({_csrf: document.getElementById("csrfToken").value})});
            }
      </script>
  </center>