<center id="newsPopup" class="py-8 loginPopup">
    <div class="bg-opacity-30 bg-gray-100 rounded-lg py-10 max-w-screen-sm px-10 align-middle text-center justify-center">        
        <input type="hidden" name="csrfToken" id="csrfToken" value="<%=csrfToken %>"/>
        <p class="text-2xl text-bold">We now have a Reddit subreddit! (reddit reddit reddit.)</p>
        <br>
        If you subscribe to it before April 1st, you will get a special 10,000 Vukkybux code delivered to your Reddit inbox!<br>
        So what are you waiting for? Join now! <a href="https://reddit.com/r/vukkybox" class="text-blue-600">https://reddit.com/r/vukkybox</a><br>
        <br>
        Please note that it will take an hour for the code to arrive.
        <br><br>
        <button onclick="accept()" class="button button-blue">Ok i reddit but dont care</button>
        <a href="https://reddit.com/r/vukkybox"><button onclick="accept()" class="button button-blue">Cool! Let's go there</button></a>
    </div>
      <script>
            document.getElementById("content").style.filter = "blur(5px)";
            document.getElementById("content").style.pointerEvents = "none";
            document.getElementById("content").style.userSelect = "none";
            document.getElementById("newsPopup").style.display = "block";
            window.scrollTo({ top: 0, behavior: 'smooth' });

            function accept() {
                document.getElementById("newsPopup").style.display = "none";
                document.getElementById("content").style.filter = "none";
                document.getElementById("content").style.pointerEvents = "auto";
                document.getElementById("content").style.userSelect = "auto";
                fetch("https://vukkybox.com/acceptnews", {method: "POST", headers: {"Content-Type": "application/json"}, body: JSON.stringify({_csrf: document.getElementById("csrfToken").value})});
            }
      </script>
  </center>