<center class="py-8">
	<div class="bg-opacity-30 bg-gray-100 rounded-lg py-10 px-10 max-w-screen-sm">
		<table id="transactionLog" class="lbTable hidden">
	
		</table>
		<span id="vukkyspinner"><br><br><img width="64" src="https://vukkybox.com/resources/pukkies/skelly.webp"></span>
	</div>
</center>
<script>
	let transactionLog = <%-transactionLog%>
	let transactionTypes = {"urmom": "ur mother"}
	fetch("https://vukkybox.com/resources/transactionTypes.json", {method: "GET",})
		.then(res => res.json())
		.then(tt => {
			transactionTypes = tt
			if(transactionLog.length <= 0) return addTCard({"type": "registration", "amount": 1000, "balance": 1000, "timestamp": Date.now()})
			transactionLog.forEach(transaction => {
				addTCard(transaction);
			})
			document.getElementById("transactionLog").classList.remove("hidden");
			document.getElementById("vukkyspinner").classList.add("hidden");
		});
		function addTCard(transaction) {
			document.getElementById("transactionLog").innerHTML += `<tr><td class="bg-opacity-30 bg-gray-100 rounded-lg py-5 px-5 text-center">${new Date(transaction.timestamp).toLocaleString()}</td><td class="bg-opacity-30 bg-gray-100 rounded-lg py-5 px-10">${transactionTypes[transaction.type]}</td><td class="bg-opacity-30 bg-gray-100 rounded-lg py-5 px-10 ${parseFloat(transaction.amount) > 0 ? "text-green" : "text-red"}">${transaction.amount}</td><td class="bg-opacity-30 bg-gray-100 rounded-lg py-5 px-10">${transaction.balance}</td></tr>\n`
		}
	</script>
</html>