<!DOCTYPE html>
<html lang="en"  >
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Vukkybox - 404</title>
		<link rel="stylesheet" href="https://vukkybox.com/resources/style.css">
	</head>
	<body class="bg-gray-100">
			<h1 class="text-9xl text-center align-middle font-mono pt-48">404</h1>
			<p class="text-center align-middle">This means the page you tried to reach doesn't exist. I hope you knew that.</p>
			<a href="/" class="text-center align-middle text-blue-500"><p>Back to safety</p></a>
	</body> 
</html>