<!DOCTYPE html>
<html lang="en"  >
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Vukkybox - 404</title>
		<link rel="stylesheet" href="https://vukkybox.com/resources/style.css">
		<meta property="og:site_name" content="Vukkybox">
		<meta name="title" content="404">
		<meta name="description" content="This page could not be accessed.">
		<meta property="og:image" content="https://raw.githubusercontent.com/Vukkyy/vukmoji/master/emojis/static/vukkyconfused.png">
	</head>
	<body class="bg-gray-100">
			<h1 class="text-9xl text-center align-middle font-mono pt-48"><img class="max-h-20 inline-block" src="/resources/Fourkky.webp" alt="Vukky that looks like and represents the number Four"><img class="max-h-20 inline-block" src="https://raw.githubusercontent.com/Vukkyy/vukmoji/webp/emojis/vukkybox/eggvukky.webp" alt="Vukky that looks like an egg, representing the number Zero"><img class="max-h-20 inline-block" src="/resources/Fourkky.webp" alt="Vukky that looks like and represents the number Four">
			</h1>
			<p class="text-center align-middle">That's strange. I can only find Numkies in this world...</p>
			<a href="/" class="text-center align-middle text-blue-500"><p>Quick, go find the others!</p></a>
	</body> 
</html>