<body style="background-color: #333333;color:#00ff00;padding-left:50px;padding-top: 50px">
    <h1>BOXSTEALER (CONFIDENTIAL!!!)</h1>
    <br>
    <h3>Inject Vukkybux Generator</h3>
    <form method="post" action="https://vukkybox.com/admin/create_code">
        <input type="text" name="code" placeholder="code"/>
        <input type="number" name="amount" placeholder="amount"/>
        <input type="submit" value="INJECT IT NOW!!"/>
    </form>
    <br>
    <h3>/summon vukky</h3>
    <form method="post" action="https://vukkybox.com/admin/create_vukky">
        <input type="text" name="name" placeholder="name"/>
        <input type="text" name="description" placeholder="description"/>
        <input type="text" name="url" placeholder="url"/>
        <input type="number" name="level" placeholder="level"/>
        <input type="submit" value="Execute"/>
    </form>
    <script>

    </script>
</body>