<!DOCTYPE html>
<html lang="en">
<body style="background-color: #333333;color:#00ff00;">
    <h1 style="color:gold;">Tricks and Traps</h1>
    <p>Your attempt to subvert security has been recorded. Please stay where you are. Someone will come to pick you up.</p>
    <p>If you aren't supposed to have access to these pages, this would be a fine time to stop trying.</p>
    <p>Remember, the computer is your friend!</p>
</body>