<!DOCTYPE html>
<html lang="en">
<body style="background-color: #333333;color:#00ff00;">
    <h1 style="color:gold;">Vukkybox Tricks</h1>
    <a href="/admin/create_vukky_now" style="color:#00ff00">INJECT CHARACTER</a><br>
    <a href="/admin/dispenser_here" style="color:#00ff00">DISPENSE BUX</a><br>
    <a href="/admin/drop_db?table=users" style="color:#00ff00">DROP USERS</a><br><br>
    <small>This is meant for use by LIT Devs members. If you are not supposed to be here, please go somewhere else immediately. All access to this page is monitored.</small>
</body>