<!DOCTYPE html>
<html lang="en"  >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./resources/style.css" rel="stylesheet">
    <script src="./resources/spin.js"></script>
    <link rel="icon" href="resources/favicon.ico" type="image/x-icon">
    <title>Vukkybox - Vukkybux Info</title>
    <meta property="og:site_name" content="Vukkybox">
    <meta name="title" content="Vukkybux Information">
    <meta name="description" content="Learn more about how Vukkybux work.">
    <meta property="og:image" content="/resources/icons/512.png">
    <link rel="preload" href="/resources/nobalance.wav" as="audio">
</head>
<body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
    <audio type="sfx" id="sadfalgus" src="/resources/nobalance.wav"></audio>
    <audio type="music" loop id="banger" src="/resources/menumusic.ogg"></audio>
    <%- include('common/navbar.ejs', {share: false, galleryShare: false, box: null}); %>

<div id="welcome" class="p-5">
<h1 id="pooruser" class="hidden text-3xl">Oh no, you've run out of Vukkybux!</h1>
<h2 class="text-2xl">How do I get more Vukkybux?</h2>
<ul class="list-disc list-inside">
  <li>Logging in every hour for 150 Vukkybux</li>
  <li>Logging in every day for 750 Vukkybux</li>
  <li>Redeeming promo codes</li>
</ul>
<h2 class="text-2xl pt-8">How long until I get my Vukkybux?</h2>
<% if(user) { %>
  <ul class="list-disc list-inside">
    <li>Hourly: Log in after <span id="hourlyTime">LOADING</span></li>
    <li>Daily: Log in after <span id="dailyTime">LOADING</span></li>
  </ul>
<% } else {%> 
  You need to sign in first.
<% } %>
</div>
<%- include('common/footer.ejs'); %>
</body>
<script>
  const queryString = window.location.search;
	const urlParams = new URLSearchParams(queryString);
  const poors = ["You tried your best, but couldn't resist.", "Oh no, you've run out of Vukkybux!", "Well, there goes that money.", "Try again later, maybe? :D", "Oops...", "Aww...", "Okay, that's enough.", '"Can I have some more?"', "vukkybux = 0;"]
	if(urlParams.has('poor')) {
    document.querySelector("#pooruser").innerHTML = `${poors[Math.floor(Math.random()*poors.length)]}<br><small>But where did my balance go? Find out <a href="/translog" class="text-blue-500">here!</a>`;
		document.querySelector("#pooruser").classList.remove("hidden")
		document.querySelector("#sadfalgus").setAttribute("playOnLoad", "true")
    setTimeout(() => {
      document.querySelector("#banger").setAttribute("playOnLoad", "true")
    }, 710);
	} else {
    document.querySelector("#banger").setAttribute("playOnLoad", "true")
  }
  <% if(user) { %>
    let loginHourly = new Date('<%= loginHourly %>');
    let loginDaily = new Date('<%= loginDaily %>');
    loginDaily.setDate(loginDaily.getDate() + 1);
    loginHourly.setHours(loginHourly.getHours() + 1);
    document.querySelector("#hourlyTime").innerHTML = loginHourly.toLocaleString();
    document.querySelector("#dailyTime").innerHTML = loginDaily.toLocaleString();
  <% } %> 
</script>

</html>
