<!DOCTYPE html>
<html lang="en"  >
<title>Vukkybox - Secret Settings</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body style="filter: blur(0px); transition: filter 0.2s ease-out;">
    <h1>Hey! Nice job finding this page.</h1>
    <form method="post">
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">
        <p>This page enables Beta features. We probably won't tell you what they are, but you might notice some issues or new features ahead of time!</p>
        <p>We initially created this feature for developers... but since you found it, have fun!</p>
        <input type="radio" id="enable" name="betaState" value="enable" required>
        <label for="enable">Enable Beta features on my account</label><br>
        <input type="radio" id="disable" name="betaState" value="disable" required>
        <label for="disable">Disable Beta features on my account</label><br><br>
        <input type="submit" value="I'm ready! I'm ready!">
    </form>
</body>
<script>
    function blur(px) {
        document.querySelector("body").style.filter = "blur(" + px + "px)"
    }
    document.querySelector("input[type=submit]").addEventListener("click", function() {blur("30")})
</script>
</html>