<!DOCTYPE html>
<html lang="en"  >
<title>Vukkybox - Delete Account</title>
<form method="post">
    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
    <h1>Are you sure you want to delete your account?</h1>
    <p>You'll lose ALL your progress! The Vukkies are going to be very sad when they hear the news...</p>
    <input type="submit" value="Yes" />
</form>
    <input type="button" value="No" onclick="window.location.href='/';" />
</html>