<!DOCTYPE html>
<html lang="en"  >
<form method="post">
    <h1>Are you sure you want to delete your account?</h1>
    <input type="submit" value="Yes" />
</form>
    <input type="button" value="No" onclick="window.location.href='/';" />
</html>