<html class="home bg-gray-800">
	<head>
		<title>Login to skelly.xyz!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="tailwind.css">
        <link href="./resources/style.css" rel="stylesheet">
        <link rel="icon" type="image/png" id="randomizedFavicon" />
	</head>
    <body class="bg-gray-800 text-white overflow-hidden">
        <div class=" bg-gray-900  w-full">
            <nav class="flex justify-between">
                <div>
                    <a href="/"><img id="vukmojiRandomization" class="max-h-10 m-2" /></a>
                </div>
                <script>
                    let id = Math.floor(Math.random() * (39 - 1 + 1) + 1)
                    document.getElementById("vukmojiRandomization").src = `https://sivusto.tk/innervukky/${id}.png`;
                    document.getElementById("randomizedFavicon").href = `https://sivusto.tk/innervukky/${id}.png`;
                </script>
                <ul class="flex flex-row p-5">
                    <!-- <li class="pr-5"><a> Services </a></li>
                    <li class="pr-5"><a>Porfolio</a></li>
                    <li class="pr-5"><a>About</a></li> -->
                    <% if(username != "") { %>
                        <div class="dropdown">
                
                            <li class="pr-5"><a><%= username%></a></li>
                            <li class=""><img class="max-h-5 rounded" src="https://www.gravatar.com/avatar/<%= gravatarHash%>"/></li>
                            <div class="dropdown-content text-white">
                              <a class="text-white" href="profile">Profile</a>
                              <a class="text-white" href="logout">Log Out</a>
                            </div>
                          </div>
                         <% } else {%>
                    <li><a href="/login">Log In</a></li>
                <% } %>
                </ul>
            </nav>
        </div>

        <div class="flex items-center justify-center h-screen content-center">
    
            <div class="bg-gray-900 rounded-lg py-20 px-10 align-middle text-center justify-center">
                <p>You will have to log out and back in to see the change.</p>
                <form method="post">
                    <label for="username">New Username:</label>
                    <input class="text-black rounded-lg h-10" type="text" id="username" name="username" placeholder="New Username"></input>
                    <input class="text-black button button-blue" type="submit" value="Change Username"/>
                </form>
            </div>
            
          </div>
	</body>
</html>