<!DOCTYPE html>
<html lang="en"  >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./resources/style.css" rel="stylesheet">
        <script src="./resources/spin.js"></script>
        <link rel="icon" href="resources/favicon.ico" type="image/x-icon">
        <title>Vukkybox - Edit Profile</title>
    </head>
    <body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
        
 <div class="bg-opacity-10  bg-gray-100 w-full">
        <nav class="flex justify-between">
            <div>
                <a href="/"><img id="icon" src="resources/icons/512.png" class="max-h-20 m-2" /></a>
            </div>
            <% if(username != "") { %>
                <p class="p-5 text-2xl text-bold"><%=user.balance %> Vukkybux</p>
            <% } %>
            <ul class="flex flex-row p-10">
                <!-- <li class="pr-5"><a> Services </a></li>
                <li class="pr-5"><a>Porfolio</a></li>
                <li class="pr-5"><a>About</a></li> -->
                <% if(username != "") { %>
                  <div class="dropdown">
                    
                    <li class="pr-5"><a><%= username%></a></li>
                    <li class=""><img class="max-h-5 rounded" src="https://www.gravatar.com/avatar/<%= gravatarHash%>"/></li>
                    <div class="dropdown-content text-white">
                      <a class="text-white" href="profile">Profile</a>
                      <a class="text-white" href="https://vukkybox.com/gallery">Collection</a>
                      <a class="text-white" href="#" id="redeemCode">Redeem Code</a>
                      <a class="text-white" href="logout">Log Out</a>
                    </div>
                  </div>
                <% } else {%>
                    <li><a href="/login">Log In</a></li>
                <% } %>
                  
            </ul>
        </nav>
    </div>

        <div class="flex items-center justify-center h-screen content-center">
    
            <div class="bg-opacity-30 bg-gray-100 rounded-lg py-20 px-10 align-middle text-center justify-center">
                <form method="post">
                    <label for="username">New Username:</label>
                    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                    <input class="text-black rounded-lg h-10" type="text" id="username" name="username" placeholder="New Username"></input>
                    <input class="text-black button button-blue" type="submit" value="Change Username"/>
                </form>
            </div>
            
          </div>
	</body>
</html>