<!DOCTYPE html>
<html lang="en"  >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./resources/style.css" rel="stylesheet">
        <script src="./resources/spin.js"></script>
        <link rel="icon" href="resources/favicon.ico" type="image/x-icon">
        <title>Vukkybox - Edit Profile</title>
    </head>
    <body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
        
 <div class="bg-opacity-10  bg-gray-100 w-full">
    <%- include('common/navbar.ejs', {share: false, galleryShare: false, box: null}); %>
        <div class="flex items-center justify-center h-screen content-center">
            <div class="bg-opacity-30 bg-gray-100 rounded-lg py-20 px-10 align-middle text-center justify-center">
                <form method="post">
                    <label for="username">New Username:</label>
                    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                    <input class="text-black rounded-lg h-10" type="text" id="username" name="username" placeholder="<%=user.username %>"></input>
                    <input class="text-black button button-blue" type="submit" value="Change Username"/>
                </form>
            </div>
            
          </div>
          <%- include('common/footer.ejs'); %>
	</body>
</html>