<title>Vukkybox - Service Unavailable</title>
<meta property="og:site_name" content="Vukkybox">
<meta name="title" content="Service Unavailable">
<meta name="description" content="This page could not be accessed.">
<meta property="og:image" content="https://raw.githubusercontent.com/Vukkyy/vukmoji/master/emojis/static/vukkyfire.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<% if(friendlyError) { %>
    <h1>Well, that clearly didn't work.</h1>
    <%-friendlyError %>
<% } else { %>
    <h1>The Vukkies are on fire, and it's all your fault.</h1>
    Just kidding about that last part, it's probably not your fault. The Vukkies are on fire, though!<br>
    Please copy the error below in its entirety and send it to Vukkybox support for further assistance. <b>We will need the error to fix the issue.</b><br>
    If you're not sure where to contact us, contact us in our <a href="https://discord.gg/TJ6BfgXffa">Discord server</a> or <a href="mailto:contact@vukkybox.com">by email</a>.<br>
    <pre style="color: lime; background-color: black; padding: 1em;">VUKKYBOX ERROR LOG(tm)<br>DETERMINED FAULT: USER<br>PLEASE SEND THE ERROR BELOW TO DEVELOPERS<br><br>---ERROR STARTS HERE---<br><%=stacktrace %><br>---ERROR ENDS HERE---<br><br>Powered by Vukky technology - UFVKYEL v26.12.2021</pre>
<% } %>
<br><br>
<% if(friendlyError) { %>
    <img src="https://raw.githubusercontent.com/Vukkyy/vukmoji/master/emojis/static/vukkyhappy.png"><img src="https://raw.githubusercontent.com/Vukkyy/vukmoji/master/emojis/static/vukkyleft.png"><img src="https://raw.githubusercontent.com/Vukkyy/vukmoji/master/emojis/static/vukkyshrug.png"><br><small>Vukkybox is a service by LIT Devs, and hopefully always will be. But you knew that!</small>
<% } else { %>
    <img src="https://raw.githubusercontent.com/Vukkyy/vukmoji/master/emojis/static/vukkyfire.png"><img src="https://raw.githubusercontent.com/Vukkyy/vukmoji/master/emojis/static/vukkysad.png"><img src="https://raw.githubusercontent.com/Vukkyy/vukmoji/master/emojis/static/vukkyleft.png"><br><small>Vukkybox <i>was</i> a service by LIT Devs, until you broke it. Please contact us now.</small>
<% } %>