<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./resources/style.css" rel="stylesheet">
    <script src="./resources/spin.js"></script>
    <link rel="icon" href="resources/favicon.ico" type="image/x-icon">
    <title>Vukkybox</title>
    <meta name="title" content="Vukkybox">
    <meta name="description" content="Collect Vukkies trapped in boxes!">
    <meta property="og:image" content="https://vukkybox.com/resources/icon.png">
    <link rel="manifest" href="/resources/pwamanifest.json">
</head>
<body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
    
 <div class="bg-opacity-10  bg-gray-100 w-full">
    <nav class="flex justify-between">
        <div class="inline-flex">
            <a href="/"><img id="icon" src="resources/icon.png" class="max-h-20 m-2" /></a>
            <% if(username != "") { %>
              <p class="m-auto text-2xl text-bold"><%=user.balance %> Vukkybux</p>
            <% } %>
        </div>
        <ul class="flex flex-row p-10">
            <!-- <li class="pr-5"><a> Services </a></li>
            <li class="pr-5"><a>Porfolio</a></li>
            <li class="pr-5"><a>About</a></li> -->
            <li class="pr-10"><a href="/store">Storefront</a></li>
            <% if(username != "") { %>
              <div class="dropdown">
                
                <li class="pr-5"><a><%= username%></a></li>
                <li class=""><img class="max-h-5 rounded" src="https://www.gravatar.com/avatar/<%= gravatarHash%>"/></li>
                <div class="dropdown-content text-white">
                  <a class="text-white" href="profile">Profile</a>
                  <a class="text-white" href="gallery">Collection</a>
                  <a class="text-white" href="#" id="redeemCode">Redeem Code</a>
                  <a class="text-white" href="logout">Log Out</a>
                </div>
              </div>
            <% } else {%>
                <li><a href="/login">Log In</a></li>
            <% } %>
              
        </ul>
    </nav>
</div>

<div id="welcome" class="p-5">
<% if(username != "") { %>
  Hi <%= username%>! Welcome to Vukkybox. You might want to go to <a href="store" class="text-blue-300">the storefront</a>, or join our epic <a href="https://discord.gg/TJ6BfgXffa" class="text-blue-300">Discord server</a>!
<% } else {%>
  <a href="/login"><button class="button button-blue font-bold w-1/2 h-1/2">Log in</button></a>
<% } %>
</div>
</body>
</html>