<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./resources/style.css" rel="stylesheet">
    <script src="./resources/spin.js"></script>
    <link rel="icon" href="resources/favicon.ico" type="image/x-icon">
    <title>Vukkybox</title>
    <meta name="title" content="Vukkybox">
    <meta name="description" content="Collect Vukkies trapped in boxes!">
    <meta property="og:image" content="https://vukkybox.com/resources/icons/512.png">
    <link rel="manifest" href="/resources/pwamanifest.json">
    <audio type="music" preload="auto" loop playOnLoad="true" src="/resources/menumusic.ogg"></audio>
</head>
<body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
    
  <%- include('common/navbar.ejs', {share: false, galleryShare: false, box: null}); %>

<div id="welcome" class="p-5">
<% if(user) { %>
  Hi <%= user.username%>! Welcome to Vukkybox.<br>
  You might want to go to <a href="store" class="text-blue-500">the storefront</a>, or join our epic <a href="https://discord.gg/TJ6BfgXffa" class="text-blue-500">Discord server</a> to chat about the game and submit your own Vukkies!!
<% } else {%>
  Welcome to Vukkybox, the online gachapon-like game that lets you collect mysterious creatures known as "Vukkies"!<br>
  Right now, you can collect these Vukkies and show off your collection, but more cool features such as trading is coming soon.<br>
  The Vukkies are really cute, and there's over 300 of them! Are you ready to collect them all? Just make an account, and start collecting!<br><br>
  <a href="/store"><button class="button button-blue font-bold">Check out the storefront!</button></a><br>
<% } %>
<br><br>Some assets used on this site have been made by volunteers! If you'd like to know who they are, <a href="/credits" class="text-blue-500">view our credits</a>.<br>You can also suggest new things to be added into the game or report bugs! Just go to our <a href="https://github.com/LITdevs/vukkybox/issues/new/choose" class="text-blue-500">GitHub page</a>.
</div>
<%- include('common/footer.ejs'); %>
</body>
</html>