<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./resources/style.css" rel="stylesheet">
    <script src="./resources/spin.js"></script>
    <link rel="icon" href="resources/favicon.ico" type="image/x-icon">
    <title>Vukkybox</title>
    <meta name="title" content="Vukkybox">
    <meta name="description" content="Collect Vukkies trapped in boxes!">
    <meta property="og:image" content="https://vukkybox.com/resources/icon.png">
</head>
<body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
    
 <div class="bg-opacity-10  bg-gray-100 w-full">
    <nav class="flex justify-between">
        <div class="inline-flex">
            <a href="/"><img id="icon" src="resources/icon.png" class="max-h-20 m-2" /></a>
            <% if(username != "") { %>
              <p class="m-auto text-2xl text-bold">Balance: <%=user.balance %></p>
            <% } %>
        </div>
        <ul class="flex flex-row p-10">
            <!-- <li class="pr-5"><a> Services </a></li>
            <li class="pr-5"><a>Porfolio</a></li>
            <li class="pr-5"><a>About</a></li> -->
            <li class="pr-10"><a href="/store">Storefront</a></li>
            <% if(username != "") { %>
              <div class="dropdown">
                
                <li class="pr-5"><a><%= username%></a></li>
                <li class=""><img class="max-h-5 rounded" src="https://www.gravatar.com/avatar/<%= gravatarHash%>"/></li>
                <div class="dropdown-content text-white">
                  <a class="text-white" href="profile">Profile</a>
                  <a class="text-white" href="gallery">Collection</a>
                  <a class="text-white" href="logout">Log Out</a>
                </div>
              </div>
            <% } else {%>
                <li><a href="/login">Log In</a></li>
            <% } %>
              
        </ul>
    </nav>
</div>

<div id="welcome" class="p-5">
<% if(username != "") { %>
  Hi <%= username%>!
<% } else {%>
  <a href="/login"><button class="button button-blue font-bold">log in</button></a>
<% } %>
</div>
<div class="pt-96">
  <footer id="footer" class="relative z-50 dark:bg-gray-900">
      <div tabindex="0" aria-label="footer" class="focus:outline-none border-t border-b border-gray-200 dark:border-gray-700 py-16">
          <div class="mx-auto container px-4 xl:px-12 2xl:px-4">
              <div class="lg:flex">
                  <div class="w-full lg:w-1/2 mb-16 lg:mb-0 flex">
                      <div class="w-full lg:w-1/2 px-6">
                          <ul>
                              <li><a class="focus:outline-none focus:underline  text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="https://github.com/Vukkyy/vukmoji">Vukkies created by Vukkyy</a></li>
                              <li class="mt-6"><a class="focus:outline-none focus:underline text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="javascript:void(0)">Templates</a></li>
                              <li class="mt-6"><a class="focus:outline-none focus:underline text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="javascript:void(0)">Pricing</a></li>
                              <li class="mt-6"><a class="focus:outline-none focus:underline text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="javascript:void(0)">FAQ</a></li>
                              <li class="mt-6"><a href="javascript:void(0)" class="focus:outline-none focus:underline text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50">Documentation</a></li>
                          </ul>
                      </div>
                      <div class="w-full lg:w-1/2 px-6">
                          <ul>
                              <li><a class="focus:outline-none focus:underline text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="javascript:void(0)">Free components</a></li>
                              <li class="mt-6"><a class="focus:outline-none focus:underline text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="javascript:void(0)">Blog</a></li>
                              <li class="mt-6"><a class="focus:outline-none focus:underline text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="javascript:void(0)">Changelog</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="w-full lg:w-1/2 flex">
                      <div class="w-full lg:w-1/2 px-6">
                          <ul>
                              <li><a href="javascript:void(0)" class="focus:underline focus:outline-none text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50">Privacy policy</a></li>
                              <li class="mt-6"><a class="focus:underline focus:outline-none text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="javascript:void(0)">Terms of service</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
  </footer>
</div>
</body>
</html>