<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vukkybox - JSON Editor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://vukkybox.com/resources/jquery.dnd_page_scroll.js"></script>
  </head>
  <style>
    .loginPopup {
        z-index:1;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%); 
        display: none;
    }
  </style>
  <body style="background-color: #36393E; color:white">
    <div class="container">
        <h1>unique 7 star</h1>
        <% 
            // loop through rarity 7 in vjson and __append to the page
            let rarityKeys = Object.keys(vjson.rarity["7"]);
            let rarity = vjson.rarity["7"];
            for (let i = 0; i < rarityKeys.length; i++) {
                let vukkyId = rarityKeys[i];
                let vukky = rarity[vukkyId];
                __append(`<span draggable="true" class="box" id="${escape(vukkyId)}" data-name="${escape(vukky.name)}" data-url="${escape(vukky.url)}" data-description="${escape(vukky.description)}" data-creator="${escape(vukky.creator)}"><img width="128" src="${vukky.url}" onclick="editVukky(this.parentNode)"></span>`)
            }
        %> 
    </div>
    <hr>
    <div class="container">
        <h1>bukky 6 star</h1>
        <% 
            // loop through rarity 7 in vjson and __append to the page
            rarityKeys = Object.keys(vjson.rarity["6"]);
            rarity = vjson.rarity["6"];
            for (let i = 0; i < rarityKeys.length; i++) {
                let vukkyId = rarityKeys[i];
                let vukky = rarity[vukkyId];
               __append(`<span draggable="true" class="box" id="${escape(vukkyId)}" data-name="${escape(vukky.name)}" data-url="${escape(vukky.url)}" data-description="${escape(vukky.description)}" data-creator="${escape(vukky.creator)}"><img width="128" src="${vukky.url}" onclick="editVukky(this.parentNode)"></span>`)
            }
        %> 
    </div>
    <hr>
    <div class="container">
        <h1>godly 5 star</h1>
        <% 
            // loop through rarity 7 in vjson and __append to the page
            rarityKeys = Object.keys(vjson.rarity["5"]);
            rarity = vjson.rarity["5"];
            for (let i = 0; i < rarityKeys.length; i++) {
                let vukkyId = rarityKeys[i];
                let vukky = rarity[vukkyId];
               __append(`<span draggable="true" class="box" id="${escape(vukkyId)}" data-name="${escape(vukky.name)}" data-url="${escape(vukky.url)}" data-description="${escape(vukky.description)}" data-creator="${escape(vukky.creator)}"><img width="128" src="${vukky.url}" onclick="editVukky(this.parentNode)"></span>`)
            }
        %> 
    </div>
    <hr>
    <div class="container">
        <h1>mythical 4 star</h1>
        <% 
            // loop through rarity 7 in vjson and __append to the page
            rarityKeys = Object.keys(vjson.rarity["4"]);
            rarity = vjson.rarity["4"];
            for (let i = 0; i < rarityKeys.length; i++) {
                let vukkyId = rarityKeys[i];
                let vukky = rarity[vukkyId];
               __append(`<span draggable="true" class="box" id="${escape(vukkyId)}" data-name="${escape(vukky.name)}" data-url="${escape(vukky.url)}" data-description="${escape(vukky.description)}" data-creator="${escape(vukky.creator)}"><img width="128" src="${vukky.url}" onclick="editVukky(this.parentNode)"></span>`)
            }
        %> 
    </div>
    <hr>
    <div class="container">
        <h1>pukky 8 star</h1>
        <% 
            // loop through rarity 7 in vjson and __append to the page
            rarityKeys = Object.keys(vjson.rarity["pukky"]);
            rarity = vjson.rarity["pukky"];
            for (let i = 0; i < rarityKeys.length; i++) {
                let vukkyId = rarityKeys[i];
                let vukky = rarity[vukkyId];
               __append(`<span draggable="true" class="box" id="${escape(vukkyId)}" data-name="${escape(vukky.name)}" data-url="${escape(vukky.url)}" data-description="${escape(vukky.description)}" data-creator="${escape(vukky.creator)}"><img width="128" src="${vukky.url}" onclick="editVukky(this.parentNode)"></span>`)
            }
        %> 
    </div>
    <hr>
    <div class="container">
        <h1>rare 3 star</h1>
        <% 
            // loop through rarity 7 in vjson and __append to the page
            rarityKeys = Object.keys(vjson.rarity["3"]);
            rarity = vjson.rarity["3"];
            for (let i = 0; i < rarityKeys.length; i++) {
                let vukkyId = rarityKeys[i];
                let vukky = rarity[vukkyId];
               __append(`<span draggable="true" class="box" id="${escape(vukkyId)}" data-name="${escape(vukky.name)}" data-url="${escape(vukky.url)}" data-description="${escape(vukky.description)}" data-creator="${escape(vukky.creator)}"><img width="128" src="${vukky.url}" onclick="editVukky(this.parentNode)"></span>`)
            }
        %> 
    </div>
    <hr>
    <div class="container">
        <h1>uncommon 2 star</h1>
        <% 
            // loop through rarity 7 in vjson and __append to the page
            rarityKeys = Object.keys(vjson.rarity["2"]);
            rarity = vjson.rarity["2"];
            for (let i = 0; i < rarityKeys.length; i++) {
                let vukkyId = rarityKeys[i];
                let vukky = rarity[vukkyId];
               __append(`<span draggable="true" class="box" id="${escape(vukkyId)}" data-name="${escape(vukky.name)}" data-url="${escape(vukky.url)}" data-description="${escape(vukky.description)}" data-creator="${escape(vukky.creator)}"><img width="128" src="${vukky.url}" onclick="editVukky(this.parentNode)"></span>`)
            }
        %> 
    </div>
    <hr>
    <div class="container">
        <h1>common 1 star</h1>
        <% 
            // loop through rarity 7 in vjson and __append to the page
            rarityKeys = Object.keys(vjson.rarity["1"]);
            rarity = vjson.rarity["1"];
            for (let i = 0; i < rarityKeys.length; i++) {
                let vukkyId = rarityKeys[i];
                let vukky = rarity[vukkyId];
               __append(`<span draggable="true" class="box" id="${escape(vukkyId)}" data-name="${escape(vukky.name)}" data-url="${escape(vukky.url)}" data-description="${escape(vukky.description)}" data-creator="${escape(vukky.creator)}"><img width="128" src="${vukky.url}" onclick="editVukky(this.parentNode)"></span>`)
            }
        %> 
    </div>
    <center id="loginPopup" class="py-8 loginPopup hidden">
        <div class="bg-opacity-30 bg-gray-100 rounded-lg py-10 max-w-screen-sm px-10 align-middle text-center justify-center">        
              <p>Woo, thank you for your interest! Please sign in to start playing.</p>
              <br><br><a id="login" href="/loginDiscord"><button disabled="" id="discordLogin" class="button button-blue text-2xl font-bold"><img decoding="async" srcset="./resources/discord.svg" width="32px">&nbsp;Sign in with Discord</button></a>
              <br><br><a id="login" href="/loginGoogle"><button disabled="" id="googleLogin" class="button button-blue text-2xl font-bold"><img decoding="async" srcset="./resources/google.svg" width="32px">&nbsp;Sign in with Google</button></a>
              <br><br><a id="login" href="/loginGithub"><button disabled="" id="githubLogin" class="button button-blue text-2xl font-bold"><img decoding="async" srcset="./resources/github.svg" width="32px">&nbsp;Sign in with GitHub</button></a>
              <br><br><b>Been here before?</b> Use what you used back then to keep your Vukkies!<br>
              <input type="checkbox" id="terms" name="terms" value="terms">
              <label for="terms">I agree to the <a href="/terms" class="text-blue-500">Terms of Service</a> and <a href="/privacy" class="text-blue-500">Privacy Policy</a>.</label>
          </div>
          <script>
                function loginPopup() {
                    document.getElementById("content").style.filter = "blur(5px)";
                    document.getElementById("content").style.pointerEvents = "none";
                    document.getElementById("content").style.userSelect = "none";
                    document.getElementById("loginPopup").style.display = "block";
                    window.scrollTo({ top: 0, behavior: 'smooth' });
                }
    
                let checkbox = document.getElementById("terms");
                checkbox.addEventListener('change', function() {
                    if (this.checked) {
                            document.getElementById("discordLogin").disabled = false
                            document.getElementById("githubLogin").disabled = false
                            document.getElementById("googleLogin").disabled = false
                    } else {
                            document.getElementById("discordLogin").disabled = true
                            document.getElementById("githubLogin").disabled = true
                            document.getElementById("googleLogin").disabled = true
                    }
                })
          </script>
      </center>
  </body>
  <script>
    $(document).ready(function() {
        $().dndPageScroll();
    });
    document.addEventListener('DOMContentLoaded', (event) => {
        var dragSrcEl = null;

        function handleDragStart(e) {
            if (this.parentNode.childElementCount < 3) return false;
            this.style.opacity = '0.4';
            dragSrcEl = this;
            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('text/html', this.innerHTML);
        }

        function handleDragOver(e) {
            if (e.preventDefault) {
                e.preventDefault();
            }

            e.dataTransfer.dropEffect = 'move';
            
            return false;
        }

        function handleDragEnter(e) {
            this.classList.add('over');
        }

        function handleDragLeave(e) {
            this.classList.remove('over');
        }

        function handleDrop(e) {
            e.preventDefault()
            if (e.stopPropagation) {
                e.stopPropagation(); // stops the browser from redirecting.
            }
            
            if (dragSrcEl != this) {
                let newNode = dragSrcEl.cloneNode(true)
                dragSrcEl.remove()
                this.parentNode.appendChild(dragSrcEl)
            }
            
            return false;
        }

        function handleDragEnd(e) {
            this.style.opacity = '1';
            
            items.forEach(function (item) {
                item.classList.remove('over');
            });
        }


        let items = document.querySelectorAll('.container .box');
            items.forEach(function(item) {
            item.addEventListener('dragstart', handleDragStart, false);
            item.addEventListener('dragenter', handleDragEnter, false);
            item.addEventListener('dragover', handleDragOver, false);
            item.addEventListener('dragleave', handleDragLeave, false);
            item.addEventListener('drop', handleDrop, false);
            item.addEventListener('dragend', handleDragEnd, false);
        });
    });

    function editVukky(dataSpan) {
        let vukky = {
            id: dataSpan.id,
            name: decodeURIComponent(dataSpan.getAttribute('data-name')),
            url: decodeURIComponent(dataSpan.getAttribute('data-url')),
            description: decodeURIComponent(dataSpan.getAttribute('data-description')),
            creator: decodeURIComponent(dataSpan.getAttribute('data-creator'))
        };
        console.log(vukky)
    }
  </script>
  
</html>