<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vukkybox - JSON Editor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://vukkybox.com/resources/jquery.dnd_page_scroll.js"></script>
  </head>
  <style>
    .editPopup {
        z-index:1;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%); 
        display: none;
    }
  </style>
  <body style="background-color: #36393E; color:white">
    <div id="content">
        <div class="container">
            <h1>unique 7 star</h1>
            <% 
                // loop through rarity 7 in vjson and __append to the page
                let rarityKeys = Object.keys(vjson.rarity["7"]);
                let rarity = vjson.rarity["7"];
                for (let i = 0; i < rarityKeys.length; i++) {
                    let vukkyId = rarityKeys[i];
                    let vukky = rarity[vukkyId];
                    __append(`<span draggable="true" class="box" id="${escape(vukkyId)}" data-name="${escape(vukky.name)}" data-url="${escape(vukky.url)}" data-description="${escape(vukky.description)}" data-creator="${escape(vukky.creator)}"><img width="128" src="${vukky.url}" onclick="editVukky(this.parentNode)"></span>`)
                }
            %> 
        </div>
        <hr>
        <div class="container">
            <h1>bukky 6 star</h1>
            <% 
                // loop through rarity 7 in vjson and __append to the page
                rarityKeys = Object.keys(vjson.rarity["6"]);
                rarity = vjson.rarity["6"];
                for (let i = 0; i < rarityKeys.length; i++) {
                    let vukkyId = rarityKeys[i];
                    let vukky = rarity[vukkyId];
                __append(`<span draggable="true" class="box" id="${escape(vukkyId)}" data-name="${escape(vukky.name)}" data-url="${escape(vukky.url)}" data-description="${escape(vukky.description)}" data-creator="${escape(vukky.creator)}"><img width="128" src="${vukky.url}" onclick="editVukky(this.parentNode)"></span>`)
                }
            %> 
        </div>
        <hr>
        <div class="container">
            <h1>godly 5 star</h1>
            <% 
                // loop through rarity 7 in vjson and __append to the page
                rarityKeys = Object.keys(vjson.rarity["5"]);
                rarity = vjson.rarity["5"];
                for (let i = 0; i < rarityKeys.length; i++) {
                    let vukkyId = rarityKeys[i];
                    let vukky = rarity[vukkyId];
                __append(`<span draggable="true" class="box" id="${escape(vukkyId)}" data-name="${escape(vukky.name)}" data-url="${escape(vukky.url)}" data-description="${escape(vukky.description)}" data-creator="${escape(vukky.creator)}"><img width="128" src="${vukky.url}" onclick="editVukky(this.parentNode)"></span>`)
                }
            %> 
        </div>
        <hr>
        <div class="container">
            <h1>mythical 4 star</h1>
            <% 
                // loop through rarity 7 in vjson and __append to the page
                rarityKeys = Object.keys(vjson.rarity["4"]);
                rarity = vjson.rarity["4"];
                for (let i = 0; i < rarityKeys.length; i++) {
                    let vukkyId = rarityKeys[i];
                    let vukky = rarity[vukkyId];
                __append(`<span draggable="true" class="box" id="${escape(vukkyId)}" data-name="${escape(vukky.name)}" data-url="${escape(vukky.url)}" data-description="${escape(vukky.description)}" data-creator="${escape(vukky.creator)}"><img width="128" src="${vukky.url}" onclick="editVukky(this.parentNode)"></span>`)
                }
            %> 
        </div>
        <hr>
        <div class="container">
            <h1>pukky 8 star</h1>
            <% 
                // loop through rarity 7 in vjson and __append to the page
                rarityKeys = Object.keys(vjson.rarity["pukky"]);
                rarity = vjson.rarity["pukky"];
                for (let i = 0; i < rarityKeys.length; i++) {
                    let vukkyId = rarityKeys[i];
                    let vukky = rarity[vukkyId];
                __append(`<span draggable="true" class="box" id="${escape(vukkyId)}" data-name="${escape(vukky.name)}" data-url="${escape(vukky.url)}" data-description="${escape(vukky.description)}" data-creator="${escape(vukky.creator)}"><img width="128" src="${vukky.url}" onclick="editVukky(this.parentNode)"></span>`)
                }
            %> 
        </div>
        <hr>
        <div class="container">
            <h1>rare 3 star</h1>
            <% 
                // loop through rarity 7 in vjson and __append to the page
                rarityKeys = Object.keys(vjson.rarity["3"]);
                rarity = vjson.rarity["3"];
                for (let i = 0; i < rarityKeys.length; i++) {
                    let vukkyId = rarityKeys[i];
                    let vukky = rarity[vukkyId];
                __append(`<span draggable="true" class="box" id="${escape(vukkyId)}" data-name="${escape(vukky.name)}" data-url="${escape(vukky.url)}" data-description="${escape(vukky.description)}" data-creator="${escape(vukky.creator)}"><img width="128" src="${vukky.url}" onclick="editVukky(this.parentNode)"></span>`)
                }
            %> 
        </div>
        <hr>
        <div class="container">
            <h1>uncommon 2 star</h1>
            <% 
                // loop through rarity 7 in vjson and __append to the page
                rarityKeys = Object.keys(vjson.rarity["2"]);
                rarity = vjson.rarity["2"];
                for (let i = 0; i < rarityKeys.length; i++) {
                    let vukkyId = rarityKeys[i];
                    let vukky = rarity[vukkyId];
                __append(`<span draggable="true" class="box" id="${escape(vukkyId)}" data-name="${escape(vukky.name)}" data-url="${escape(vukky.url)}" data-description="${escape(vukky.description)}" data-creator="${escape(vukky.creator)}"><img width="128" src="${vukky.url}" onclick="editVukky(this.parentNode)"></span>`)
                }
            %> 
        </div>
        <hr>
        <div class="container">
            <h1>common 1 star</h1>
            <% 
                // loop through rarity 7 in vjson and __append to the page
                rarityKeys = Object.keys(vjson.rarity["1"]);
                rarity = vjson.rarity["1"];
                for (let i = 0; i < rarityKeys.length; i++) {
                    let vukkyId = rarityKeys[i];
                    let vukky = rarity[vukkyId];
                __append(`<span draggable="true" class="box" id="${escape(vukkyId)}" data-name="${escape(vukky.name)}" data-url="${escape(vukky.url)}" data-description="${escape(vukky.description)}" data-creator="${escape(vukky.creator)}"><img width="128" src="${vukky.url}" onclick="editVukky(this.parentNode)"></span>`)
                }
            %> 
        </div>
    </div>
    <center id="editPopup" class="editPopup hidden">
        <div>        
                <img src="https://vukkybox.com/resources/pukkies/skelly.webp">
                <h2 id="editPopupName"></h2>
                <form>
                    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                    <input type="text" name="name" id="vukkyName"/>
                    <input type="text" name="url" id="vukkyUrl"/>
                    <input type="text" name="description" id="vukkyDescription"/>
                    <input type="text" name="creator" id="vukkyCreator"/>
                </form>
          </div>
          <script>
                function editPopup(vukky) {
                    document.getElementById("editPopupName").innerHTML = `Editing ${vukky.name} (#${vukky.id})`;
                    document.getElementById("vukkyName").value = vukky.name
                    document.getElementById("vukkyUrl").value = vukky.url
                    document.getElementById("vukkyDescription").value = vukky.description
                    document.getElementById("vukkyCreator").value = vukky.creator
                    document.getElementById("content").style.filter = "blur(5px)";
                    document.getElementById("content").style.pointerEvents = "none";
                    document.getElementById("content").style.userSelect = "none";
                    document.getElementById("editPopup").style.display = "block";
                    window.scrollTo({ top: 0, behavior: 'smooth' });
                }
          </script>
      </center>
  </body>
  <script>
    $(document).ready(function() {
        $().dndPageScroll();
    });
    document.addEventListener('DOMContentLoaded', (event) => {
        var dragSrcEl = null;

        function handleDragStart(e) {
            if (this.parentNode.childElementCount < 3) return false;
            this.style.opacity = '0.4';
            dragSrcEl = this;
            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('text/html', this.innerHTML);
        }

        function handleDragOver(e) {
            if (e.preventDefault) {
                e.preventDefault();
            }

            e.dataTransfer.dropEffect = 'move';
            
            return false;
        }

        function handleDragEnter(e) {
            this.classList.add('over');
        }

        function handleDragLeave(e) {
            this.classList.remove('over');
        }

        function handleDrop(e) {
            e.preventDefault()
            if (e.stopPropagation) {
                e.stopPropagation(); // stops the browser from redirecting.
            }
            
            if (dragSrcEl != this) {
                let newNode = dragSrcEl.cloneNode(true)
                dragSrcEl.remove()
                this.parentNode.appendChild(dragSrcEl)
            }
            
            return false;
        }

        function handleDragEnd(e) {
            this.style.opacity = '1';
            
            items.forEach(function (item) {
                item.classList.remove('over');
            });
        }


        let items = document.querySelectorAll('.container .box');
            items.forEach(function(item) {
            item.addEventListener('dragstart', handleDragStart, false);
            item.addEventListener('dragenter', handleDragEnter, false);
            item.addEventListener('dragover', handleDragOver, false);
            item.addEventListener('dragleave', handleDragLeave, false);
            item.addEventListener('drop', handleDrop, false);
            item.addEventListener('dragend', handleDragEnd, false);
        });
    });

    function editVukky(dataSpan) {
        let vukky = {
            id: dataSpan.id,
            name: decodeURIComponent(dataSpan.getAttribute('data-name')),
            url: decodeURIComponent(dataSpan.getAttribute('data-url')),
            description: decodeURIComponent(dataSpan.getAttribute('data-description')),
            creator: decodeURIComponent(dataSpan.getAttribute('data-creator'))
        };
        editPopup(vukky)
    }
  </script>
  
</html>