<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vukkybox - JSON Editor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>  
  <body>
    <div class="container">
        <h1>unique 7 star</h1>
        <% 
            // loop through rarity 7 in vjson and __append to the page
            let rarityKeys = Object.keys(vjson.rarity["7"]);
            let rarity = vjson.rarity["7"];
            for (let i = 0; i < rarityKeys.length; i++) {
                let vukkyId = rarityKeys[i];
                let vukky = rarity[vukkyId];
                __append(`<div draggable="true" class="box"><img width="128" src="${vukky.url}"></div>`)
            }
        %> 
    </div>
    <hr>
    <div class="container">
        <h1>bukky 6 star</h1>
        <% 
            // loop through rarity 7 in vjson and __append to the page
            let rarityKeys = Object.keys(vjson.rarity["6"]);
            let rarity = vjson.rarity["6"];
            for (let i = 0; i < rarityKeys.length; i++) {
                let vukkyId = rarityKeys[i];
                let vukky = rarity[vukkyId];
                __append(`<div draggable="true" class="box"><img width="128" src="${vukky.url}"></div>`)
            }
        %> 
    </div>
    <hr>
    <div class="container">
        <h1>godly 5 star</h1>
        <% 
            // loop through rarity 7 in vjson and __append to the page
            let rarityKeys = Object.keys(vjson.rarity["5"]);
            let rarity = vjson.rarity["5"];
            for (let i = 0; i < rarityKeys.length; i++) {
                let vukkyId = rarityKeys[i];
                let vukky = rarity[vukkyId];
                __append(`<div draggable="true" class="box"><img width="128" src="${vukky.url}"></div>`)
            }
        %> 
    </div>
    <hr>
    <div class="container">
        <h1>mythical 4 star</h1>
        <% 
            // loop through rarity 7 in vjson and __append to the page
            let rarityKeys = Object.keys(vjson.rarity["4"]);
            let rarity = vjson.rarity["4"];
            for (let i = 0; i < rarityKeys.length; i++) {
                let vukkyId = rarityKeys[i];
                let vukky = rarity[vukkyId];
                __append(`<div draggable="true" class="box"><img width="128" src="${vukky.url}"></div>`)
            }
        %> 
    </div>
    <hr>
    <div class="container">
        <h1>vukky 8 star</h1>
        <% 
            // loop through rarity 7 in vjson and __append to the page
            let rarityKeys = Object.keys(vjson.rarity["pukky"]);
            let rarity = vjson.rarity["pukky"];
            for (let i = 0; i < rarityKeys.length; i++) {
                let vukkyId = rarityKeys[i];
                let vukky = rarity[vukkyId];
                __append(`<div draggable="true" class="box"><img width="128" src="${vukky.url}"></div>`)
            }
        %> 
    </div>
    <hr>
    <div class="container">
        <h1>rare 3 star</h1>
        <% 
            // loop through rarity 7 in vjson and __append to the page
            let rarityKeys = Object.keys(vjson.rarity["3"]);
            let rarity = vjson.rarity["3"];
            for (let i = 0; i < rarityKeys.length; i++) {
                let vukkyId = rarityKeys[i];
                let vukky = rarity[vukkyId];
                __append(`<div draggable="true" class="box"><img width="128" src="${vukky.url}"></div>`)
            }
        %> 
    </div>
    <hr>
    <div class="container">
        <h1>uncommon 2 star</h1>
        <% 
            // loop through rarity 7 in vjson and __append to the page
            let rarityKeys = Object.keys(vjson.rarity["2"]);
            let rarity = vjson.rarity["2"];
            for (let i = 0; i < rarityKeys.length; i++) {
                let vukkyId = rarityKeys[i];
                let vukky = rarity[vukkyId];
                __append(`<div draggable="true" class="box"><img width="128" src="${vukky.url}"></div>`)
            }
        %> 
    </div>
    <hr>
    <div class="container">
        <h1>common 1 star</h1>
        <% 
            // loop through rarity 7 in vjson and __append to the page
            let rarityKeys = Object.keys(vjson.rarity["1"]);
            let rarity = vjson.rarity["1"];
            for (let i = 0; i < rarityKeys.length; i++) {
                let vukkyId = rarityKeys[i];
                let vukky = rarity[vukkyId];
                __append(`<div draggable="true" class="box"><img width="128" src="${vukky.url}"></div>`)
            }
        %> 
    </div>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var dragSrcEl = null;

        function handleDragStart(e) {
            if (this.parentNode.childElementCount < 3) return false;
            this.style.opacity = '0.4';
            dragSrcEl = this;
            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('text/html', this.innerHTML);
        }

        function handleDragOver(e) {
            if (e.preventDefault) {
                e.preventDefault();
            }

            e.dataTransfer.dropEffect = 'move';
            
            return false;
        }

        function handleDragEnter(e) {
        this.classList.add('over');
        }

        function handleDragLeave(e) {
        this.classList.remove('over');
        }

        function handleDrop(e) {
        if (e.stopPropagation) {
            e.stopPropagation(); // stops the browser from redirecting.
        }
        
        if (dragSrcEl != this) {
            let newNode = dragSrcEl.cloneNode(true)
            dragSrcEl.remove()
            this.parentNode.appendChild(dragSrcEl)
        }
        
        return false;
        }

        function handleDragEnd(e) {
        this.style.opacity = '1';
        
        items.forEach(function (item) {
            item.classList.remove('over');
        });
        }


        let items = document.querySelectorAll('.container .box');
            items.forEach(function(item) {
            item.addEventListener('dragstart', handleDragStart, false);
            item.addEventListener('dragenter', handleDragEnter, false);
            item.addEventListener('dragover', handleDragOver, false);
            item.addEventListener('dragleave', handleDragLeave, false);
            item.addEventListener('drop', handleDrop, false);
            item.addEventListener('dragend', handleDragEnd, false);
        });
    });
  </script>
  
</html>