<!DOCTYPE html>
<html lang="en"  >
		<head>
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<link href="./resources/style.css" rel="stylesheet">
				<script src="./resources/spin.js"></script>
				<link rel="icon" href="resources/favicon.ico" type="image/x-icon">
				<title>Vukkybox - Leaderboards</title>
				<meta property="og:site_name" content="Vukkybox">
				<meta name="title" content="Leaderboards">
				<meta name="description" content="See who has the highest stats on Vukkybox!">
				<meta property="og:image" content="https://vukkybox.com/resources/icons/512.png">
				<audio type="music" preload="auto" loop autoplay src="/resources/leaderboard.ogg"></audio>
		</head>
		<body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
			<div class="bg-opacity-10  bg-gray-100 w-full">
				<nav class="flex justify-between">
					<div class="inline-flex">
						<a href="/"><img id="icon" src="resources/icons/512.png" class="max-h-20 m-2" /></a>
						<% if(user) { %>
							<p class="m-auto text-2xl text-bold"><%=user.balance %> Vukkybux</p>
						<% } %>
					</div>
					<ul class="flex flex-row p-10">
						<% if(user) { %>
							<div class="dropdown">
								<li class="pr-5"><a><%= user.username%></a></li>
								<li class=""><img class="max-h-5 rounded" src="https://www.gravatar.com/avatar/<%= gravatarHash%>"/></li>
								<div class="dropdown-content text-white">
									<a class="text-white" href="profile">Profile</a>
									<a class="text-white" href="https://vukkybox.com/gallery">Collection</a>
									<a class="text-white" href="#" id="redeemCode">Redeem Code</a>
									<a class="text-white" href="logout">Log Out</a>
								</div>
							</div>
						<% } else {%>
								<li><a href="/login">Log In</a></li>
						<% } %>
								
					</ul>
				</nav>
			</div>
			<center class="py-8">
				<div class="bg-opacity-30 bg-gray-100 rounded-lg py-10 px-10 max-w-screen-sm">
					<label for="limit">Entries to show:</label>
					<select id="limit" name="limit" class="text-black" onchange="settingsChange(this)">
					<option value="10">10</option>
					<option value="50" selected>50</option>
					<option value="100">100</option>
					<option value="200">200</option>
					</select>
					<label for="board">Leaderboard to show:</label>
					<select id="board" name="board" class="text-black" onchange="settingsChange(this)">
					<option value="uniqueVukkiesGot" selected>Different Vukkies</option>
					<option value="boxesOpened">Amount of boxes opened</option>
					<option value="rarity">rarity</option>
					</select>
					<label for="rarity">Rarity to show:</label>
					<select id="rarity" name="rarity" class="text-black hidden" onchange="settingsChange(this)">
					<option value="1" selected>Common (1 star)</option>
					<option value="2">Uncommon (2 star)</option>
					<option value="3">Rare (3 star)</option>
					<option value="8">Pukky</option>
					<option value="4">Mythical (4 star)</option>
					<option value="5">Godly (5 star)</option>
					<option value="6">bukky (6 star)</option>
					<option value="7">Unique (7 star)</option>
					</select>
					<table id="leaderboard" class="lbTable hidden">

					</table>
					<span id="vukkyspinner"><br><br><img width="64" src="https://vukkybox.com/resources/pukkies/skelly.webp"></span>
				</div>
			</center>
		</body>
	<script>
		let limit = 50
		let board = "uniqueVukkiesGot"
		let rarity = "1"
		fetch("https://vukkybox.com/leaderboard", {method: "POST", headers: {"Content-Type": "application/json"}, body: JSON.stringify({board: board, limit: limit})})
		.then(res => res.json())
		.then(res => {
			let rank = 1;
			let userRankFound = false;
			if (!res.userRank) userRankFound = true; 
			res.leaderboard.forEach(user => {
				addCard(userRankFound, rank, res, user);
				if (!userRankFound && rank == res.userRank.rank) userRankFound = true;
				if(rank == limit) {
					//last loop!
					if(!userRankFound) {
						addCard(false, res.userRank.rank, res, res.userRank)
					}
				}
				rank++;
			})
			document.getElementById("leaderboard").classList.remove("hidden");
			document.getElementById("vukkyspinner").classList.add("hidden");
		});
		function addCard(userRankFound, rank, res, user) {
			document.getElementById("leaderboard").innerHTML += `<tr><td class="bg-opacity-30 ${!userRankFound && rank == res.userRank.rank ? "bg-gray-300" : "bg-gray-100"} rounded-lg py-5 px-5 text-center">${rank}</td><td class="bg-opacity-30 ${!userRankFound && rank == res.userRank.rank ? "bg-gray-300" : "bg-gray-100"} rounded-lg py-5 px-10"><a href="https://vukkybox.com/guestgallery/${user.userId}">${user.username}</a></td><td class="bg-opacity-30 ${!userRankFound && rank == res.userRank.rank ? "bg-gray-300" : "bg-gray-100"} rounded-lg py-5 px-10">${parseFloat(user.data).toLocaleString()}</td></tr>\n`
		}
		let invalidMode = false
		function settingsChange(select) {
			let doNotContinue = invalidMode
			switch(select.name) {
				case "limit":
					limit = parseInt(select.value)
					break;
				case "board":
					if (select.value == "rarity" && document.getElementById("rarity").classList.contains("hidden")) document.getElementById("rarity").classList.remove("hidden");
					if (select.value == "rarity" && !document.getElementById("rarity").classList.contains("hidden")) document.getElementById("rarity").classList.add("hidden");
					if (select.value == "rarity") rarity = document.getElementById("rarity").value
					board = select.value
					invalidMode = false
					doNotContinue = false
					break;
				case "rarity":
					rarity = select.value
					if(select.classList.contains("hidden")) doNotContinue = true
					break;
			}
			if(!doNotContinue) {
				document.getElementById("leaderboard").classList.add("hidden");
				document.getElementById("vukkyspinner").classList.remove("hidden");
				fetch("https://vukkybox.com/leaderboard", {method: "POST", headers: {"Content-Type": "application/json"}, body: JSON.stringify({board: board, limit: limit, rarity: rarity})})
				.then(res => res.json())
				.then(res => {
					document.getElementById("leaderboard").innerHTML = '';
					let rank = 1;
					let userRankFound = false;
					if (!res.userRank) userRankFound = true; 
					res.leaderboard.forEach(user => {
						addCard(userRankFound, rank, res, user);
						if (!userRankFound && rank == res.userRank.rank) userRankFound = true;
						if(rank == limit) {
							//last loop!
							if(!userRankFound) {
								addCard(false, res.userRank.rank, res, res.userRank)
							}
						}
						rank++;
					})
					document.getElementById("leaderboard").classList.remove("hidden");
					document.getElementById("vukkyspinner").classList.add("hidden");
				});
			}
		}
	</script>
</html>