<html class="home bg-gray-800">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./resources/style.css" rel="stylesheet">
        <script src="./resources/spin.js"></script>
        <link rel="icon" href="resources/favicon.ico" type="image/x-icon">
        <title>Vukkybox - Login</title>
    </head>
    <body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
        
 <div class="bg-opacity-10  bg-gray-100 w-full">
        <nav class="flex justify-between">
            <div class="inline-flex">
                <a href="/"><img id="icon" src="resources/icon.png" class="max-h-20 m-2" /></a>
                <% if(username != "") { %>
                  <p class="m-auto text-2xl text-bold">Balance: <%=user.balance %></p>
                <% } %>
            </div>
            <ul class="flex flex-row p-10">
                <!-- <li class="pr-5"><a> Services </a></li>
                <li class="pr-5"><a>Porfolio</a></li>
                <li class="pr-5"><a>About</a></li> -->
                <% if(username != "") { %>
                  <div class="dropdown">
                    
                    <li class="pr-5"><a><%= username%></a></li>
                    <li class=""><img class="max-h-5 rounded" src="https://www.gravatar.com/avatar/<%= gravatarHash%>"/></li>
                    <div class="dropdown-content text-white">
                      <a class="text-white" href="profile">Profile</a>
                      <a class="text-white" href="logout">Log Out</a>
                    </div>
                  </div>
                <% } else {%>
                    <li><a href="/login">Log In</a></li>
                <% } %>
                  
            </ul>
        </nav>
    </div>
        <center>
    
            <div class="bg-opacity-30 bg-gray-100 rounded-lg py-10 w-1/3 px-10 align-middle text-center justify-center">
                <% if(redirect) { %>
                <p class="text-gray-900">Please login to do that.</p>
                <% } else { %>
                  <p class="text-gray-900">Please sign in with one of these methods</p>
                <% } %>
                <br><br><a id="login" href="/loginDiscord"><button class="button button-blue text-2xl font-bold"><img decoding="async" srcset="./resources/discord.svg" width="32px">&nbsp;Sign in with Discord</button></a>
                <br><br><a id="login" href="/loginMediawiki"><button class="button button-blue text-2xl font-bold"><img decoding="async" srcset="./resources/wikipedia.svg" width="32px">&nbsp;Sign in with Wikipedia</button></a>
                <br><br><a id="login" href="/loginGithub"><button class="button button-blue text-2xl font-bold"><img decoding="async" srcset="./resources/github.svg" width="32px">&nbsp;Sign in with GitHub</button></a>
                <br><br><a id="login" href="/loginGoogle"><button class="button button-blue text-2xl font-bold"><img decoding="async" srcset="./resources/google.svg" width="32px">&nbsp;Sign in with Google</button></a>
                <br><br><a id="login" href="/loginTwitter"><button class="button button-blue text-2xl font-bold"><img decoding="async" srcset="./resources/twitter.svg" width="32px">&nbsp;Sign in with Twitter</button></a>
                
            </div>
            
          </center>
	</body>
</html>