<!DOCTYPE html>
<html lang="en"  >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./resources/style.css" rel="stylesheet">
        <script src="./resources/spin.js"></script>
        <link rel="icon" href="resources/favicon.ico" type="image/x-icon">
        <title>Vukkybox - Login</title>
        <meta property="og:site_name" content="Vukkybox">
        <meta name="title" content="Login">
        <meta name="description" content="You need to log into Vukkybox to access this page.">
        <meta property="og:image" content="https://vukkybox.com/resources/icons/512.png">
        <audio type="music" preload="auto" loop playOnLoad="true" src="/resources/admin.ogg"></audio>
    </head>
    <body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
      <%- include('common/navbar.ejs', {share: false, galleryShare: false, box: null}); %>
        <center class="py-8">
          <div class="bg-opacity-30 bg-gray-100 rounded-lg py-10 max-w-screen-sm px-10 align-middle text-center justify-center">
                <% if(redirect) { %>
                <p>Woo, thank you for your interest! In order to do that, you must sign in.</p>
                <% } else { %>
                  <p>Woo! Please sign in with one of these methods.</p>
                <% } %>
                <br><br><a id="login1" href="#"><button disabled id="discordLogin" class="button button-blue text-2xl font-bold"><img decoding="async" srcset="./resources/discord.svg" width="32px">&nbsp;Sign in with Discord</button></a>
                <br><br><a id="login2" href="#"><button disabled id="googleLogin" class="button button-blue text-2xl font-bold"><img decoding="async" srcset="./resources/google.svg" width="32px">&nbsp;Sign in with Google</button></a>
                <br><br><a id="login3" href="#"><button disabled id="githubLogin" class="button button-blue text-2xl font-bold"><img decoding="async" srcset="./resources/github.svg" width="32px">&nbsp;Sign in with GitHub</button></a>
                <br><br><input type="checkbox" id="terms" name="terms" value="terms"/>
                <label for="terms">I agree to the <a href="/terms" class="text-blue-500">Terms of Service</a> and <a href="/privacy" class="text-blue-500">Privacy Policy</a>.</label>
                <br><b>Been here before?</b> Use what you used back then to keep your Vukkies!<br>
                </div>
            <%- include('common/footer.ejs'); %>
          </center>
	</body>
  <script>
    var checkbox = document.getElementById("terms");
    checkbox.addEventListener('change', function() {
      if (this.checked) {
        document.getElementById("discordLogin").disabled = false
        document.getElementById("githubLogin").disabled = false
        document.getElementById("googleLogin").disabled = false
        document.getElementById("login1").href = "/loginDiscord"
        document.getElementById("login2").href = "/loginGoogle"
        document.getElementById("login3").href = "/loginGithub"
      } else {
        document.getElementById("discordLogin").disabled = true
        document.getElementById("githubLogin").disabled = true
        document.getElementById("googleLogin").disabled = true
        document.getElementById("login1").href = "#"
        document.getElementById("login2").href = "#"
        document.getElementById("login3").href = "#"
      }
});
  </script>
</html>