<!DOCTYPE html>
<html lang="en"  >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vukkybox - Redeem</title>
        <style>
            body {
                background-image: url("https://i.imgur.com/YjWYAyf.png");
                color: white;
                font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            }
        </style>
        <meta name="title" content="Vukkybox - Redeem">
        <meta name="description" content="Redeem Vukkybox balance!">
        <meta property="og:image" content="https://vukkybox.com/resources/icon.png">
    </head>
    <body>
        <center>
            <% if (invalid == "invalid") { %>
                <audio preload="auto" autoplay src="/resources/nobalance.wav"></audio>
                <script>document.body.style.backgroundImage = 'url("https://i.imgur.com/XVENcFy.png")'</script>
                <h1>Alfur couldn't find that code.</h1>
                <p>It's not in the fancy organized lists of codes and users...<br>Either it doesn't exist, or our servers are just broken.</p>
            <%} else if (invalid == "used") {%>
                <audio preload="auto" autoplay src="/resources/nobalance.wav"></audio>
                <script>document.body.style.backgroundImage = 'url("https://i.imgur.com/VzwJpXt.png")'</script>
                <h1>Alfur has disappointing news...</h1>
                <p>This code is no longer available. Try again next time!</p>
            <%} else if (invalid == "redeemed") {%>
                <audio preload="auto" autoplay src="/resources/nobalance.wav"></audio>
                <script>document.body.style.backgroundImage = 'url("https://i.imgur.com/jjVNMM0.png")'</script>
                <h1>Alfur thinks you're a sussy baka!</h1>
                <p>You have already redeemed this code! Let other people get it too...</p>
            <%} else {%>
                <audio preload="auto" autoplay src="/resources/tada.ogg"></audio>
                <script>document.body.style.backgroundImage = 'url("https://i.imgur.com/NlGok01.png")'</script>
                <h1>Congratulations!</h1>
                <p>You have successfully redeemed <code><%= code.toUpperCase() %></code>! It is worth <%= amount %> Vukkybux.<br>
                Your Vukkybux have been credited to your account now.</p>
            <%} %>
            <br><br><a href="/store"><img src="/resources/icon.png" width="128" height="128"></img></a><br><small>A LIT Devs service</small>
        </center>
    </body>
</html>
