<!DOCTYPE html>
<html lang="en"  >
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="./resources/style.css" rel="stylesheet">
		<script src="./resources/spin.js"></script>
		<link rel="icon" href="resources/favicon.ico" type="image/x-icon">
		<title>Vukkybox - Storefront</title>
		<audio type="music" preload="auto" loop autoplay src="/resources/shop.ogg"></audio>
		<link rel="preload" href="/resources/purchase.wav" as="audio">
		<meta property="og:site_name" content="Vukkybox">
		<meta name="title" content="Storefront">
		<meta name="description" content="Purchase new and exciting Vukkies!">
		<meta property="og:image" content="https://vukkybox.com/resources/icons/512.png">
	</head>
	<body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
		
		<div class="bg-opacity-10  bg-gray-100 w-full">
			<nav class="flex justify-between">
				<div class="inline-flex">
					<a href="/"><img id="icon" src="resources/icons/512.png" class="max-h-20 m-2" /></a>
					<% if(username != "") { %>
					  <p class="m-auto text-2xl text-bold"><%=user.balance %> Vukkybux</p>
					<% } %>
				</div>
				<ul class="flex flex-row p-10">
					<!-- <li class="pr-5"><a> Services </a></li>
					<li class="pr-5"><a>Porfolio</a></li>
					<li class="pr-5"><a>About</a></li> -->
					<li class="pr-10"><a href="/store">Storefront</a></li>
					<% if(username != "") { %>
					  <div class="dropdown">
						
						<li class="pr-5"><a><%= username%></a></li>
						<li class=""><img class="max-h-5 rounded" src="https://www.gravatar.com/avatar/<%= gravatarHash%>"/></li>
						<div class="dropdown-content text-white">
						  <a class="text-white" href="profile">Profile</a>
						  <a class="text-white" href="gallery">Collection</a>
						  <a class="text-white" href="#" id="redeemCode">Redeem Code</a>
						  <a class="text-white" href="logout">Log Out</a>
						</div>
						<data id="loggedIn" value="1"></data>
					  </div>
					<% } else {%>
						<li><a href="/login">Log In</a></li>
						<data id="loggedIn" value="0"></data>
					<% } %>
					  
				</ul>
			</nav>
		</div>
		<center id="content">
		<table class="">
			<tr>
				<td><div class="rounded-lg py-10 px-10 m-10 bg-gray-200 bg-opacity-30">
					<img class="max-h-48" src="./resources/classicvukkybox.webp"/>
					<div class="inline-flex justify-between">
						<p>Classic Box<br>10</p><button class="ml-10 button button-blue purchase" id="classic" onclick="buyBox(this.id)">Buy</button>
					</div>	
					<p class="text-sm">Just your usual box.<br>Unique: VukkyBot</p>
				</div></td>
				<td><div class="rounded-lg py-10 px-10 m-10 bg-gray-200 bg-opacity-30">
					<img class="max-h-48" src="./resources/vegetablevukkybox.webp"/>
					<div class="inline-flex justify-between">
						<p>Veggie Box<br>25</p> <button class="ml-10 button button-blue purchase" id="veggie" onclick="buyBox(this.id)">Buy</button>
					</div>	
					<p class="text-sm">This box has no Rare Vukkies but way more Mythical<br> and Godly Vukkies!<br>Unique: Salad Vukky, Vukky Planet</p>
				</div></td>
				</tr>

			<tr>
				<td><div class="rounded-lg py-10 px-10 m-10 bg-gray-200 bg-opacity-30">
					<img class="max-h-48" src="./resources/firevukkybox.webp"/>
					<div class="inline-flex justify-between">
						<p>FIRE Box<br>25</p> <button class="ml-10 button button-blue purchase" id="fire" onclick="buyBox(this.id)">Buy</button>
					</div>	
					<p class="text-sm">This box has an increased chance of Uncommon Vukkies.<br>Unique: Fire Vukky</p>
				</div></td>
				<td><div class="rounded-lg py-10 px-10 m-10 bg-gray-200 bg-opacity-30">
					<img class="max-h-48" src="./resources/warpedvukkybox.webp"/>
					<div class="inline-flex justify-between">
						<p>Cursed Box<br>50</p> <button class="ml-10 button button-blue purchase" id="warped" onclick="buyBox(this.id)">Buy</button>
					</div>	
					<p class="text-sm">This box has no Common Vukkies.<br>Unique: Vukky Meat (Normal, Cooked, Burnt)</p>
				</div></td>
			</tr>
			<tr>
				<td><div class="rounded-lg py-10 px-10 m-10 bg-gray-200 bg-opacity-30">
					<img class="max-h-48" src="./resources/pukkyvukkybox.webp"/>
					<div class="inline-flex justify-between">
						<p>Pukky Box<br>50</p> <button class="ml-10 button button-blue purchase" id="pukky" onclick="buyBox(this.id)">Buy</button>
					</div>	
					<p class="text-sm">This box consists of only Pukkies, profile Vukkies!<br> You can get your own on the <a href="https://discord.gg/mmhPScCZH4" class="text-blue-300">LIT Devs Discord server!</a><br>Unique: Developer Vukky</p>
				</div></td>
				<td><div class="rounded-lg py-10 px-10 m-10 bg-gray-200 bg-opacity-30">
					<img class="max-h-48" src="./resources/sharkvukkybox.webp"/>
					<div class="inline-flex justify-between">
						<p>Shark Box<br>100</p> <button class="ml-10 button button-blue purchase" id="shark" onclick="buyBox(this.id)">Buy</button>
					</div>	
					<p class="text-sm">This box has no Vukkies below 3 stars (rare) <br>Unique: 2 secret Vukkies...</p>
				</div></td>
			</tr>
			<tr>
				<td><div class="rounded-lg py-10 px-10 m-10 bg-gray-200 bg-opacity-30">
					<img class="max-h-48" src="./resources/beggarsvukkybox.webp"/>
					<div class="inline-flex justify-between">
						<p>Beggars Box<br>2.5</p> <button class="ml-10 button button-blue purchase" id="beggars" onclick="buyBox(this.id)">Buy</button>
					</div>	
					<p class="text-sm">This box consists of only commons and uncommons!<br>Beggars can't be choosers!</a><br>Unique: None, silly!</p>
				</div></td>
				<!--<td><div class="rounded-lg py-10 px-10 m-10 bg-gray-200 bg-opacity-30">
					<img class="max-h-48" src="./resources/sharkvukkybox.webp"/>
					<div class="inline-flex justify-between">
						<p>Shark Box<br>100</p> <button class="ml-10 button button-blue purchase" id="shark" onclick="buyBox(this.id)">Buy</button>
					</div>	
					<p class="text-sm">This box has no Vukkies below 3 stars (rare) <br>Unique: 2 secret Vukkies</p>
				</div></td> -->
			</tr>
		</table>
		</center>
		<center id="loginPopup" class="py-8 loginPopup">
			<div class="bg-opacity-30 bg-gray-100 rounded-lg py-10 max-w-screen-sm px-10 align-middle text-center justify-center">        
				  <p>Woo, thank you for your interest! Please sign in to start playing.</p>
				  <br><br><a id="login" href="/loginDiscord"><button disabled="" id="discordLogin" class="button button-blue text-2xl font-bold"><img decoding="async" srcset="./resources/discord.svg" width="32px">&nbsp;Sign in with Discord</button></a>
				  <br><br><a id="login" href="/loginGoogle"><button disabled="" id="googleLogin" class="button button-blue text-2xl font-bold"><img decoding="async" srcset="./resources/google.svg" width="32px">&nbsp;Sign in with Google</button></a>
				  <br><br><a id="login" href="/loginGithub"><button disabled="" id="githubLogin" class="button button-blue text-2xl font-bold"><img decoding="async" srcset="./resources/github.svg" width="32px">&nbsp;Sign in with GitHub</button></a>
				  <br><br><b>Been here before?</b> Use what you used back then to keep your Vukkies!<br>
				  <input type="checkbox" id="terms" name="terms" value="terms">
				  <label for="terms">I agree to the <a href="/terms" class="text-blue-500">Terms of Service</a> and <a href="/privacy" class="text-blue-500">Privacy Policy</a>.</label>
			  </div>    
		  </center>
	</body>
	<script>
	function buyBox(id) {
		event.srcElement.disabled = true;
		if(document.getElementById("loggedIn").value == "1") {
			setTimeout(() => {
				window.location="/buyBox/"+id;
			}, localStorage.getItem("kachingOn") != "false" ? 1000 : 0);
		} else {
			loginPopup();
		}
	}

	function loginPopup() {
		document.getElementById("content").style.filter = "blur(5px)";
		document.getElementById("content").style.pointerEvents = "none";
		document.getElementById("content").style.userSelect = "none";
		

		document.getElementById("loginPopup").style.display = "block";
		window.scrollTo({ top: 0, behavior: 'smooth' });
	}
	
	let checkbox = document.getElementById("terms");
	checkbox.addEventListener('change', function() {
	  if (this.checked) {
			document.getElementById("discordLogin").disabled = false
			document.getElementById("githubLogin").disabled = false
			document.getElementById("googleLogin").disabled = false
		} else {
			document.getElementById("discordLogin").disabled = true
			document.getElementById("githubLogin").disabled = true
			document.getElementById("googleLogin").disabled = true
		}
	})
	</script>
</html>