<html class="home bg-gray-800">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="./resources/style.css" rel="stylesheet">
		<script src="./resources/spin.js"></script>
		<link rel="icon" href="resources/favicon.ico" type="image/x-icon">
		<title>Vukkybox - Store</title>
	</head>
	<body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
		
		<div class="bg-opacity-10  bg-gray-100 w-full">
			<nav class="flex justify-between">
				<div class="inline-flex">
					<a href="/"><img id="icon" src="resources/icon.png" class="max-h-20 m-2" /></a>
					<% if(username != "") { %>
					  <p class="m-auto text-2xl text-bold"><%=user.balance %> Vukkybux</p>
					<% } %>
				</div>
				<ul class="flex flex-row p-10">
					<!-- <li class="pr-5"><a> Services </a></li>
					<li class="pr-5"><a>Porfolio</a></li>
					<li class="pr-5"><a>About</a></li> -->
					<li class="pr-10"><a href="/store">Storefront</a></li>
					<% if(username != "") { %>
					  <div class="dropdown">
						
						<li class="pr-5"><a><%= username%></a></li>
						<li class=""><img class="max-h-5 rounded" src="https://www.gravatar.com/avatar/<%= gravatarHash%>"/></li>
						<div class="dropdown-content text-white">
						  <a class="text-white" href="profile">Profile</a>
						  <a class="text-white" href="gallery">Collection</a>
						  <a class="text-white" href="#" id="redeemCode">Redeem Code</a>
						  <a class="text-white" href="logout">Log Out</a>
						</div>
					  </div>
					<% } else {%>
						<li><a href="/login">Log In</a></li>
					<% } %>
					  
				</ul>
			</nav>
		</div>
		<center>
		<table class="">
			<tr>
				<td><div class="rounded-lg py-10 px-10 m-10 bg-gray-200 bg-opacity-30">
					<img class="max-h-48" src="./resources/classicvukkybox.png"/>
					<div class="inline-flex justify-between">
						<p>Classic Box<br>10</p><button class="ml-10 button button-blue" id="classic" onclick="buyBox(this.id)">Buy</button>
					</div>	
					<p class="text-sm">Just your usual box.<br>Unique: Vukkybot</p>
				</div></td>
				<td><div class="rounded-lg py-10 px-10 m-10 bg-gray-200 bg-opacity-30">
					<img class="max-h-48" src="./resources/vegetablevukkybox.png"/>
					<div class="inline-flex justify-between">
						<p>Veggie Box<br>25</p> <button class="ml-10 button button-blue" id="veggie" onclick="buyBox(this.id)">Buy</button>
					</div>	
					<p class="text-sm">This box has no rare vukkies but way more mythical<br> and godly vukkies<br>Unique: Salad Vukky, Vukky Planet</p>
				</div></td>
				</tr>

			<tr>
				<td><div class="rounded-lg py-10 px-10 m-10 bg-gray-200 bg-opacity-30">
					<img class="max-h-48" src="./resources/firevukkybox.png"/>
					<div class="inline-flex justify-between">
						<p>FIRE Box<br>25</p> <button class="ml-10 button button-blue" id="fire" onclick="buyBox(this.id)">Buy</button>
					</div>	
					<p class="text-sm">This box has an increased chance of uncommon vukkies.<br>Unique: Fire Vukky</p>
				</div></td>
				<td><div class="rounded-lg py-10 px-10 m-10 bg-gray-200 bg-opacity-30">
					<img class="max-h-48" src="./resources/warpedvukkybox.png"/>
					<div class="inline-flex justify-between">
						<p>Cursed Box<br>50</p> <button class="ml-10 button button-blue" id="warped" onclick="buyBox(this.id)">Buy</button>
					</div>	
					<p class="text-sm">This box has no common vukkies<br>Unique: Vukky Meat (Normal, Cooked, Burnt)</p>
				</div></td>
			</tr>
			<tr>
				<td><div class="rounded-lg py-10 px-10 m-10 bg-gray-200 bg-opacity-30">
					<img class="max-h-48" src="./resources/pukkyvukkybox.png"/>
					<div class="inline-flex justify-between">
						<p>Pukky Box<br>100</p> <button class="ml-10 button button-blue" id="pukky" onclick="buyBox(this.id)">Buy</button>
					</div>	
					<p class="text-sm">This box consists of only Pukkies, profile Vukkies!<br> You can get your own on the <a href="https://discord.gg/mmhPScCZH4" class="text-blue-300">LIT Devs Discord server!</a><br>Unique: Developer Vukky</p>
				</div></td>
				<!--<td><div class="rounded-lg py-10 px-10 m-10 bg-gray-200 bg-opacity-30">
					<img class="max-h-48" src="./resources/warpedvukkybox.png"/>
					<div class="inline-flex justify-between">
						<p>Cursed Box<br>50</p> <button class="ml-10 button button-blue" id="warped" onclick="buyBox(this.id)">Buy</button>
					</div>	
					<p class="text-sm">This box has no common vukkies<br>Unique: Vukky Meat (Normal, Cooked, Burnt)</p>
				</div></td>-->
			</tr>
		</table>
		</center>
	</body>
	<script>
	function buyBox(id) {
		window.location="/buyBox/"+id;
	}
	</script>
</html>