<!DOCTYPE html>
<html lang="en">
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link href="./resources/style.css" rel="stylesheet">
			<script src="./resources/spin.js"></script>
			<link rel="icon" href="resources/favicon.ico" type="image/x-icon">
			<title>Vukkybox - Transaction Log</title>
			<meta property="og:site_name" content="Vukkybox">
			<meta name="title" content="Transaction log">
			<meta name="description" content="See how you reached bankruptcy!">
			<meta property="og:image" content="https://vukkybox.com/resources/icons/512.png">
		</head>
		<body class="bg-gradient-to-br from-green-500 to-purple-400 text-white">
			<%- include('common/navbar.ejs', {share: false, galleryShare: false, box: null}); %>
			<%- include('common/transactionlog.ejs', {transactionLog: JSON.stringify(transLog)}); %>
			<%- include('common/footer.ejs'); %>
		</body>
</html>